<% layout('./layout/page') -%>
<% block('title', 'Valensiya - Описание товара'); %>
<div class="row ">
    <div class="col-md-5">
        <img  class="img-good" src="<%-good.get('img')%>">
    </div>

    <div class="col-md-6 description">
        <div>
            <h2 id="name"><%=good.get('goodname')%></h2>
            <p id="categor">Категория: <%=good.get('category')%></p>
            <p id="cost">Цена: <%=good.get('price')%> p.</p>
            <p id="color">Цвет: <%=good.get('color')%></p>
            <p id="description">Описание: <%=good.get('description')%></p>
            <form class="form-inline" name="description">

                <label id="size">Размер: </label>
                <% var size = good.get('size')%>
                <% var i = 0%>
                <% while (i<size.length){%>
                <label class="radio">
                    <input type="radio" name="size" value="<%=size[i]%>" >
                    <%=size[i]%>
                </label>
                <%i++;}%>
                <input type="hidden" name="goodID" value=<%=good.get('_id')%>>
                <div class="form-group">
                    <button id="button" type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Добавить в корзину</button>
                    <span class="help-block error"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document.forms['description']).on('submit', function () {
        var form = $(this);
        $.ajax({
            url: "/cart/addGood",
            method: "GET",
            data: form.serialize(),
            complete: function () {
                $(":submit", data).button("reset");
            },
            statusCode: {
                402: function () {
                    $('.error', form).html("Вы не зарегистрированы");
                },
                200: function () {
                    if (confirm("Товар добавлен в корзину. Перейти в корзину?")) {
                        window.location.href = "/cart";
                        }
                },
                401: function () {
                    $('.error', form).html("Выберите размер");
                },
                403: function () {
                    $('.error', form).html("Ошибка добавления корзины");
                }
            }
        });
        return false;
    });
</script>