<li class="col-md-3">
    <a href="description?goodname=<%=goods[i].get('goodname')%>" class="thumbnail">
        <img src="<%-goods[i].get('img')%>">
        <p id="name"><%=goods[i].get('goodname')%></p>
        <p id="categor">Категория: <%=goods[i].get('category')%></p>
        <p id="cost">Цена: <%=goods[i].get('price')%> p.</p>
    </a>
</li>